.sign-up,
.login {
    text-align: center;
}

.sign-up h1,
.login h1 {
    margin-top: 50px;
    margin-bottom: 80px;
    color: #3496ff;
}

.toggle {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.toggle a {
    color: #5eabfe;
}

.error-message p {
    color: red;
    font-size: 14px;
    margin: 5px 0 0;
}

.error-p {
    color: red;
    font-size: 16px;
    margin-bottom: 10px;
}